html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  margin: 0;
  font-family: "Open sans", bold;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}

h2 {
  margin: 0;
  padding-top: 1.5em;
  font-size: 1rem;
  padding-left: .5em;
  padding-right: .2em;
}

h3 {
  font-family: "Open sans";
  font-style: italic;
  font-weight: normal;
  font-size: .875rem;
  margin: 0;
  padding-left: .5em;
}

p {
  margin: 0;
  margin-bottom: 3em;
  padding-left: .5em;
  padding-right: .2em;
  flex-grow: 1;
  align-items: stretch;
}

.p2 {
  margin-bottom: 1.5em;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  border: 3px solid #333;
  padding: .6rem;
  padding-top: .3rem;
  display: flex;
  align-items: center;
}

.button {
  align-items: center;
  flex-direction: row;
}

.btn:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-small {
  background-color: #333;
}

section {
  background-color: #f2f2f2;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

[class="barrett"] {
  background-color: #e2e2e2;
  border-left: 1px solid #333;
  display: inline-block;
  width: 25%;
  padding: .6em;
}

[class="hedegaar"] {
  background-color: #ccc;
  border-left: 1px solid #333;
  display: inline-block;
  width: 25%;
  padding: .6em;
}

[class="cejkova"] {
  background-color: #aaa;
  border-left: 1px solid #333;
  display: inline-block;
  width: 25%;
  padding: .6em;
}

[class="olivarez"] {
  background-color: #999;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  display: inline-block;
  width: 25%;
  padding: .6em;
}

[class="row"] {
  display: flex;
  width: 100%;
  flex-direction: row;
}
